# Alles Requirements für die Nutzung der Otree Apps
deepface
flask
flask-cors
keyboard
matplotlib
moviepy
mss
numpy
openai-whisper
opencv-python
openpyxl
otree
pandas
praat-parselmouth
pyaudio
pydub
whisper-timestamped


