body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#videoPlayer {
    display: block;
    margin: 20px auto;
    border: 2px solid #ddd;
    border-radius: 8px;
}

#videoInput {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

#results {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px 0;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Text linksbündig ausrichten */
}

.result-box span {
    font-weight: bold;
}
